---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
const { team } = Astro.params

if (team === undefined) {
  throw new Error('Se requiere un slug para mostrar la entrada.')
}

const entry = await getEntry('team', team)
if (entry === undefined) {
  return Astro.redirect('/404')
}


---
<Layout title=`Soy ${entry.data.name} conoceme un poco mas` description=`Nuestro Colaborador ${entry.data.name} esta super entusiamado porque lo conozcas un poco mas` image={entry.data.image}>
    <Image src={entry.data.image} alt={entry.data.name} />
    <h1>Hola soy {entry.data.name}</h1>
    <p>{entry.data.description}</p>
</Layout>