---
interface Props {
  name: string
  title: string
  image: string
  testimony: string
  href?: string
}

const { name, title, image, testimony, href = '#' } = Astro.props
---
<li class='text-sm leading-6'>
  <div class='relative group'>
    <div
      class='absolute transition rounded-lg opacity-25 -inset-1 bg-gradient-to-r from-primary-700 to-secondary-400 blur duration-400 group-hover:opacity-100 group-hover:duration-200'
    >
    </div>
    <a href={href} class='cursor-pointer'>
      <div
        class='relative p-6 space-y-6 leading-none rounded-lg bg-slate-800 ring-1 ring-gray-900/5'
      >
        <div class='flex items-center space-x-4'>
          <img
            src={image}
            class='w-12 h-12 bg-center bg-cover border rounded-full'
            alt={name}
          />
          <div>
            <h3 class='text-lg font-semibold text-white'>
              {name}
            </h3>
            <p class='text-gray-500 text-md'>{title}</p>
          </div>
        </div>
        <p class='leading-normal text-gray-300 text-md'>
          {testimony}
        </p>
      </div>
    </a>
  </div>
</li>
