---
import { Picture } from "astro:assets";

interface Props {
    src?: string;
    alt: string;
    className?: string;
    sizes?: string;
}

const { src, alt, className, sizes = "w-9" } = Astro.props;

import { cn } from "@/lib/utils"
---

{
    src ? (
        <Picture
            class={cn({"rounded-full border-2 border-blue-500 object-cover aspect-square" : true, [`${sizes}`]: true, [`${className}`]: className})}
            src={`${src}`}
            alt={`${alt} Avatar`}
            inferSize
            formats={["avif", "webp", "jpg", "png"]}
            fallbackFormat="jpg"
        />
    ) : (
        <div
            class={`rounded-full border-2 border-blue-500 object-cover object-center aspect-square flex justify-center items-center dark:bg-slate-900 bg-slate-300 overflow-hidden p-0 ${sizes} ${className}`}
        >
            <p class="font-bold uppercase">
                {alt
                    .split(" ")
                    .map((word) => word[0])
                    .join("")
                    .substring(0, 2)}
            </p>
            
        </div>
    )
}
