---
import { Icon } from 'astro-icon/components'
interface Props {
  width?: string
  height?: string
  socials: {
    name?: string
    url?: string
    icon?: string
  }[]
}

const width = Astro.props.width || 'w-6'
const height = Astro.props.height || 'h-6'

const socials = Astro.props.socials

---

<ul class='flex list-none gap-4 m-0 p-0'>
  {
    socials.map((social) => (
      <li class='flex items-center'>
        <a
          class={`w-full h-full flex items-center transition hover:text-heading-1 hover:scale-105 hover:opacity-90`}
          href={social.url}
          target='black'
          title={`Abrir perfil de ${social.name}`}
        >
          <Icon name={social.icon} class={`${width} ${height}`} />
        </a>
      </li>
    ))
  }
</ul>
